{
  "parser": "babel-eslint",
  "env": {
    "node": 2
  },
  "globals": {
    "suite": true,
    "test": true
  },
  "rules": {
    "brace-style": [2, "1tbs", {
      "allowSingleLine": true
    }],
    "camelcase": 2,
    "comma-style": [2, "last"],
    "curly": 2,
    "eqeqeq": 2,
    "func-names": 2,
    "guard-for-in": 2,
    "wrap-iife": 2,
    "no-undef": 2,
    "new-cap": 2,
    "quotes": [2, "single"],
    "no-trailing-spaces": 2,
    "max-len": [2, 180],
    "no-underscore-dangle": 0,
    "strict": 0,
    "no-shadow": 0,
    "no-unused-vars": 1,
    "comma-dangle": ["error", "never"],
  }
}
